USE [master]
GO
/****** Object:  Database [LastChance]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE DATABASE [LastChance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LastChance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LastChance.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LastChance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LastChance_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LastChance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LastChance]
GO
/****** Object:  User [NITECO\hiep.tran2]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE USER [NITECO\hiep.tran2] FOR LOGIN [NITECO\hiep.tran2] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NITECO\hiep.tran2]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NITECO\hiep.tran2]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NITECO\hiep.tran2]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [NITECO\hiep.tran2]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [NITECO\hiep.tran2]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NITECO\hiep.tran2]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NITECO\hiep.tran2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityId] [nvarchar](63) NULL,
	[CommandType] [nvarchar](255) NULL,
	[CommandText] [nvarchar](max) NOT NULL,
	[Recorded] [datetime2](7) NOT NULL,
	[Role] [nvarchar](max) NULL,
	[User] [nvarchar](max) NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BacklogItems]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacklogItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sprint] [int] NULL,
	[ItemsAdded] [int] NOT NULL,
	[StoryPointsAdded] [int] NULL,
	[ItemsDone] [int] NOT NULL,
	[StoryPointsDone] [int] NULL,
	[ProjectId] [int] NOT NULL,
	[YearWeek] [int] NOT NULL,
 CONSTRAINT [PK_BacklogItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DivisionProjectStatuses]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DivisionProjectStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YearWeek] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[StatusColor] [nvarchar](max) NOT NULL,
	[ProjectStatus] [nvarchar](max) NULL,
	[Actions] [nvarchar](max) NULL,
 CONSTRAINT [PK_DivisionProjectStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoDReports]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoDReports](
	[ProjectId] [int] NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[YearWeek] [int] NOT NULL,
	[MetricId] [int] NOT NULL,
	[LinkToReport] [nvarchar](max) NULL,
	[ReportFileName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DoDReports] PRIMARY KEY CLUSTERED 
(
	[MetricId] ASC,
	[ProjectId] ASC,
	[YearWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metrics]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metrics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ValueType] [nvarchar](max) NOT NULL,
	[Unit] [nvarchar](max) NULL,
	[Tool] [nvarchar](max) NOT NULL,
	[SelectValues] [nvarchar](max) NULL,
	[Order] [int] NOT NULL,
	[ToolOrder] [int] NOT NULL,
 CONSTRAINT [PK_Metrics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetricStatuses]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetricStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MetricStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectAccesses]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectAccesses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Role] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_ProjectAccesses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[DeliveryResponsibleName] [nvarchar](450) NULL,
	[Division] [nvarchar](max) NOT NULL,
	[JiraLink] [nvarchar](max) NULL,
	[KeyAccountManager] [nvarchar](max) NOT NULL,
	[ProjectEndDate] [datetime2](7) NULL,
	[ProjectStartDate] [datetime2](7) NOT NULL,
	[SourceCodeLink] [nvarchar](max) NULL,
	[PlatformVersion] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Code] [nvarchar](450) NOT NULL,
	[PhrRequired] [bit] NOT NULL,
	[ProjectStateTypeId] [int] NOT NULL,
	[PhrRequiredFrom] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[DmrRequired] [bit] NOT NULL,
	[DmrRequiredFrom] [datetime2](7) NULL,
	[DmrRequiredTo] [datetime2](7) NULL,
	[DodRequired] [bit] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectStateTypes]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectStateTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[State] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ProjectStateTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QualityReports]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualityReports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CriticalBugs] [int] NOT NULL,
	[MajorBugs] [int] NOT NULL,
	[MinorBugs] [int] NOT NULL,
	[DoneBugs] [int] NOT NULL,
	[ReOpenBugs] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[YearWeek] [int] NOT NULL,
 CONSTRAINT [PK_QualityReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusColor] [nvarchar](max) NOT NULL,
	[ProjectStatus] [nvarchar](max) NULL,
	[ProjectId] [int] NOT NULL,
	[YearWeek] [int] NOT NULL,
	[RetrospectiveFeedBack] [nvarchar](max) NULL,
	[Milestone] [nvarchar](max) NULL,
	[MilestoneDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thresholds]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thresholds](
	[MetricStatusId] [int] NOT NULL,
	[MetricId] [int] NOT NULL,
	[UpperBound] [decimal](18, 2) NULL,
	[LowerBound] [decimal](18, 2) NULL,
	[IsRange] [bit] NOT NULL,
	[Value] [nvarchar](max) NULL,
	[LowerBoundOperator] [nvarchar](max) NULL,
	[UpperBoundOperator] [nvarchar](max) NULL,
 CONSTRAINT [PK_Thresholds] PRIMARY KEY CLUSTERED 
(
	[MetricId] ASC,
	[MetricStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeeklyReportStatuses]    Script Date: 5/22/2020 5:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeeklyReportStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[YearWeek] [int] NOT NULL,
	[IsDeadlineMissed] [bit] NULL,
 CONSTRAINT [PK_WeeklyReportStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20191129062211_InitDatabase', N'3.1.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20191202042322_AddPropertiesToProject', N'3.1.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20191202042751_MarkNameAsUniqueInProject', N'3.1.2')
SET IDENTITY_INSERT [dbo].[BacklogItems] ON 

INSERT [dbo].[BacklogItems] ([Id], [Sprint], [ItemsAdded], [StoryPointsAdded], [ItemsDone], [StoryPointsDone], [ProjectId], [YearWeek]) VALUES (1, 0, 12, NULL, 0, 0, 62, 202000)
INSERT [dbo].[BacklogItems] ([Id], [Sprint], [ItemsAdded], [StoryPointsAdded], [ItemsDone], [StoryPointsDone], [ProjectId], [YearWeek]) VALUES (2, NULL, 0, 0, 0, 0, 62, 202014)
INSERT [dbo].[BacklogItems] ([Id], [Sprint], [ItemsAdded], [StoryPointsAdded], [ItemsDone], [StoryPointsDone], [ProjectId], [YearWeek]) VALUES (3, NULL, 1, 0, 0, 0, 62, 202013)
SET IDENTITY_INSERT [dbo].[BacklogItems] OFF
SET IDENTITY_INSERT [dbo].[DivisionProjectStatuses] ON 

INSERT [dbo].[DivisionProjectStatuses] ([Id], [YearWeek], [ProjectId], [StatusColor], [ProjectStatus], [Actions]) VALUES (1, 202016, 26, N'RED', N'', NULL)
INSERT [dbo].[DivisionProjectStatuses] ([Id], [YearWeek], [ProjectId], [StatusColor], [ProjectStatus], [Actions]) VALUES (2, 202016, 27, N'RED', N'', N'')
INSERT [dbo].[DivisionProjectStatuses] ([Id], [YearWeek], [ProjectId], [StatusColor], [ProjectStatus], [Actions]) VALUES (3, 202016, 28, N'RED', N'', N'')
SET IDENTITY_INSERT [dbo].[DivisionProjectStatuses] OFF
INSERT [dbo].[DoDReports] ([ProjectId], [Value], [YearWeek], [MetricId], [LinkToReport], [ReportFileName]) VALUES (66, N'80', 202019, 1, N'http://localhost:5011/client-app/phr/weekly-reports/add-edit?projectId=66&year=2020&week=19&numberOfWeek=4&numberOfWeekNotShowClosedItem=2', N'test')
INSERT [dbo].[DoDReports] ([ProjectId], [Value], [YearWeek], [MetricId], [LinkToReport], [ReportFileName]) VALUES (66, N'11', 202020, 1, N'http://localhost:5011/client-app/phr/weekly-reports/add-edit?projectId=66&year=2020&week=20&numberOfWeek=4&numberOfWeekNotShowClosedItem=2', N'12')
INSERT [dbo].[DoDReports] ([ProjectId], [Value], [YearWeek], [MetricId], [LinkToReport], [ReportFileName]) VALUES (71, N'70', 202020, 1, N'http://localhost:5011/client-app/phr/weekly-reports/add-edit?projectId=71&year=2020&week=20&numberOfWeek=4&numberOfWeekNotShowClosedItem=2', N'Test')
SET IDENTITY_INSERT [dbo].[Metrics] ON 

INSERT [dbo].[Metrics] ([Id], [Name], [ValueType], [Unit], [Tool], [SelectValues], [Order], [ToolOrder]) VALUES (1, N'Score', N'Number', NULL, N'Dareboost', NULL, 1, 1)
INSERT [dbo].[Metrics] ([Id], [Name], [ValueType], [Unit], [Tool], [SelectValues], [Order], [ToolOrder]) VALUES (2, N'Speed Index', N'Number', N'ms', N'Dareboost', NULL, 2, 1)
INSERT [dbo].[Metrics] ([Id], [Name], [ValueType], [Unit], [Tool], [SelectValues], [Order], [ToolOrder]) VALUES (3, N'Improvement', N'Number', NULL, N'Dareboost', NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[Metrics] OFF
SET IDENTITY_INSERT [dbo].[MetricStatuses] ON 

INSERT [dbo].[MetricStatuses] ([Id], [Name]) VALUES (1, N'GREEN')
INSERT [dbo].[MetricStatuses] ([Id], [Name]) VALUES (2, N'YELLOW')
INSERT [dbo].[MetricStatuses] ([Id], [Name]) VALUES (3, N'RED')
SET IDENTITY_INSERT [dbo].[MetricStatuses] OFF
SET IDENTITY_INSERT [dbo].[ProjectAccesses] ON 

INSERT [dbo].[ProjectAccesses] ([Id], [ProjectId], [Email], [Role]) VALUES (9, 62, N'PM2', N'Person In Charge')
INSERT [dbo].[ProjectAccesses] ([Id], [ProjectId], [Email], [Role]) VALUES (8, 62, N'PM3', N'Person In Charge')
INSERT [dbo].[ProjectAccesses] ([Id], [ProjectId], [Email], [Role]) VALUES (7, 62, N'PM5', N'Person In Charge')
SET IDENTITY_INSERT [dbo].[ProjectAccesses] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[ProjectStateTypes] ON 

INSERT [dbo].[ProjectStateTypes] ([Id], [State]) VALUES (1, N'Preparing')
INSERT [dbo].[ProjectStateTypes] ([Id], [State]) VALUES (2, N'Active')
INSERT [dbo].[ProjectStateTypes] ([Id], [State]) VALUES (3, N'Closed')
SET IDENTITY_INSERT [dbo].[ProjectStateTypes] OFF
SET IDENTITY_INSERT [dbo].[QualityReports] ON 

INSERT [dbo].[QualityReports] ([Id], [CriticalBugs], [MajorBugs], [MinorBugs], [DoneBugs], [ReOpenBugs], [ProjectId], [YearWeek]) VALUES (1, 0, 0, 0, 0, 0, 62, 202014)
INSERT [dbo].[QualityReports] ([Id], [CriticalBugs], [MajorBugs], [MinorBugs], [DoneBugs], [ReOpenBugs], [ProjectId], [YearWeek]) VALUES (2, 2, 10, 1, 0, 0, 62, 202013)
INSERT [dbo].[QualityReports] ([Id], [CriticalBugs], [MajorBugs], [MinorBugs], [DoneBugs], [ReOpenBugs], [ProjectId], [YearWeek]) VALUES (3, 2, 5, 7, 2, 3, 62, 202012)
SET IDENTITY_INSERT [dbo].[QualityReports] OFF
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([Id], [StatusColor], [ProjectStatus], [ProjectId], [YearWeek], [RetrospectiveFeedBack], [Milestone], [MilestoneDate]) VALUES (1, N'GREEN', N'', 62, 202014, N'', N'', NULL)
INSERT [dbo].[Statuses] ([Id], [StatusColor], [ProjectStatus], [ProjectId], [YearWeek], [RetrospectiveFeedBack], [Milestone], [MilestoneDate]) VALUES (4, N'GREEN', N'', 62, 202012, N'', N'<p>12</p>
', CAST(N'2020-03-27T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Statuses] ([Id], [StatusColor], [ProjectStatus], [ProjectId], [YearWeek], [RetrospectiveFeedBack], [Milestone], [MilestoneDate]) VALUES (15, N'RED', N'<p>12</p>
', 62, 202013, N'<p>12</p>
', N'<p>12</p>
', CAST(N'2020-03-27T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Statuses] OFF
INSERT [dbo].[Thresholds] ([MetricStatusId], [MetricId], [UpperBound], [LowerBound], [IsRange], [Value], [LowerBoundOperator], [UpperBoundOperator]) VALUES (1, 1, CAST(100.00 AS Decimal(18, 2)), CAST(90.00 AS Decimal(18, 2)), 1, NULL, N'<=', N'<=')
INSERT [dbo].[Thresholds] ([MetricStatusId], [MetricId], [UpperBound], [LowerBound], [IsRange], [Value], [LowerBoundOperator], [UpperBoundOperator]) VALUES (2, 1, CAST(90.00 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)), 1, NULL, N'<=', N'<')
INSERT [dbo].[Thresholds] ([MetricStatusId], [MetricId], [UpperBound], [LowerBound], [IsRange], [Value], [LowerBoundOperator], [UpperBoundOperator]) VALUES (3, 1, CAST(60.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, NULL, N'<=', N'<')
/****** Object:  Index [IX_BacklogItems_ProjectId]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_BacklogItems_ProjectId] ON [dbo].[BacklogItems]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BacklogItems_YearWeek_ProjectId]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BacklogItems_YearWeek_ProjectId] ON [dbo].[BacklogItems]
(
	[YearWeek] ASC,
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DivisionProjectStatuses_ProjectId]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_DivisionProjectStatuses_ProjectId] ON [dbo].[DivisionProjectStatuses]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DivisionProjectStatuses_YearWeek_ProjectId]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DivisionProjectStatuses_YearWeek_ProjectId] ON [dbo].[DivisionProjectStatuses]
(
	[YearWeek] ASC,
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoDReports_ProjectId]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_DoDReports_ProjectId] ON [dbo].[DoDReports]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProjectAccesses_ProjectId_Role_Email]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ProjectAccesses_ProjectId_Role_Email] ON [dbo].[ProjectAccesses]
(
	[ProjectId] ASC,
	[Role] ASC,
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Projects_Code]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Projects_Code] ON [dbo].[Projects]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Projects_Id_DeliveryResponsibleName]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Projects_Id_DeliveryResponsibleName] ON [dbo].[Projects]
(
	[Id] ASC,
	[DeliveryResponsibleName] ASC
)
WHERE ([DeliveryResponsibleName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_ProjectStateTypeId]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_ProjectStateTypeId] ON [dbo].[Projects]
(
	[ProjectStateTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QualityReports_ProjectId]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_QualityReports_ProjectId] ON [dbo].[QualityReports]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QualityReports_YearWeek_ProjectId]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_QualityReports_YearWeek_ProjectId] ON [dbo].[QualityReports]
(
	[YearWeek] ASC,
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Statuses_ProjectId]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Statuses_ProjectId] ON [dbo].[Statuses]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Statuses_YearWeek_ProjectId]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Statuses_YearWeek_ProjectId] ON [dbo].[Statuses]
(
	[YearWeek] ASC,
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Thresholds_MetricStatusId]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Thresholds_MetricStatusId] ON [dbo].[Thresholds]
(
	[MetricStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WeeklyReportStatuses_ProjectId]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_WeeklyReportStatuses_ProjectId] ON [dbo].[WeeklyReportStatuses]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WeeklyReportStatuses_YearWeek_ProjectId]    Script Date: 5/22/2020 5:57:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_WeeklyReportStatuses_YearWeek_ProjectId] ON [dbo].[WeeklyReportStatuses]
(
	[YearWeek] ASC,
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BacklogItems] ADD  DEFAULT ((0)) FOR [YearWeek]
GO
ALTER TABLE [dbo].[DoDReports] ADD  DEFAULT ((0)) FOR [MetricId]
GO
ALTER TABLE [dbo].[Metrics] ADD  DEFAULT ((0)) FOR [Order]
GO
ALTER TABLE [dbo].[Metrics] ADD  DEFAULT ((0)) FOR [ToolOrder]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (N'') FOR [Division]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (N'') FOR [KeyAccountManager]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [ProjectStartDate]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ((1)) FOR [PhrRequired]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ((2)) FOR [ProjectStateTypeId]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ('2020-01-01T00:00:00.0000000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (CONVERT([bit],(1))) FOR [DmrRequired]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (CONVERT([bit],(0))) FOR [DodRequired]
GO
ALTER TABLE [dbo].[QualityReports] ADD  DEFAULT ((0)) FOR [YearWeek]
GO
ALTER TABLE [dbo].[Statuses] ADD  DEFAULT ((0)) FOR [YearWeek]
GO
ALTER TABLE [dbo].[BacklogItems]  WITH CHECK ADD  CONSTRAINT [FK_BacklogItems_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BacklogItems] CHECK CONSTRAINT [FK_BacklogItems_Projects_ProjectId]
GO
ALTER TABLE [dbo].[DivisionProjectStatuses]  WITH CHECK ADD  CONSTRAINT [FK_DivisionProjectStatuses_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DivisionProjectStatuses] CHECK CONSTRAINT [FK_DivisionProjectStatuses_Projects_ProjectId]
GO
ALTER TABLE [dbo].[DoDReports]  WITH CHECK ADD  CONSTRAINT [FK_DoDReports_Metrics_MetricId] FOREIGN KEY([MetricId])
REFERENCES [dbo].[Metrics] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DoDReports] CHECK CONSTRAINT [FK_DoDReports_Metrics_MetricId]
GO
ALTER TABLE [dbo].[DoDReports]  WITH CHECK ADD  CONSTRAINT [FK_DoDReports_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DoDReports] CHECK CONSTRAINT [FK_DoDReports_Projects_ProjectId]
GO
ALTER TABLE [dbo].[ProjectAccesses]  WITH CHECK ADD  CONSTRAINT [FK_ProjectAccesses_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectAccesses] CHECK CONSTRAINT [FK_ProjectAccesses_Projects_ProjectId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_ProjectStateTypes_ProjectStateTypeId] FOREIGN KEY([ProjectStateTypeId])
REFERENCES [dbo].[ProjectStateTypes] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_ProjectStateTypes_ProjectStateTypeId]
GO
ALTER TABLE [dbo].[QualityReports]  WITH CHECK ADD  CONSTRAINT [FK_QualityReports_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QualityReports] CHECK CONSTRAINT [FK_QualityReports_Projects_ProjectId]
GO
ALTER TABLE [dbo].[Statuses]  WITH CHECK ADD  CONSTRAINT [FK_Statuses_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Statuses] CHECK CONSTRAINT [FK_Statuses_Projects_ProjectId]
GO
ALTER TABLE [dbo].[Thresholds]  WITH CHECK ADD  CONSTRAINT [FK_Thresholds_Metrics_MetricId] FOREIGN KEY([MetricId])
REFERENCES [dbo].[Metrics] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Thresholds] CHECK CONSTRAINT [FK_Thresholds_Metrics_MetricId]
GO
ALTER TABLE [dbo].[Thresholds]  WITH CHECK ADD  CONSTRAINT [FK_Thresholds_MetricStatuses_MetricStatusId] FOREIGN KEY([MetricStatusId])
REFERENCES [dbo].[MetricStatuses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Thresholds] CHECK CONSTRAINT [FK_Thresholds_MetricStatuses_MetricStatusId]
GO
ALTER TABLE [dbo].[WeeklyReportStatuses]  WITH CHECK ADD  CONSTRAINT [FK_WeeklyReportStatuses_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WeeklyReportStatuses] CHECK CONSTRAINT [FK_WeeklyReportStatuses_Projects_ProjectId]
GO
USE [master]
GO
